.caption {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #333333;
	padding-left: 20px;
}
.sectiontitle {
	BORDER-LEFT: #ccc 1px solid; 
	PADDING-BOTTOM: 2px; 
	TEXT-INDENT: 40px; 
	MARGIN: 10px 4px; 
	PADDING-LEFT: 2px; 
	PADDING-RIGHT: 2px; 
	FONT: 14pt Trebuchet MS, Verdana, Geneva, Arial, Helvetica, Sans-Serif; 
	BACKGROUND: url(../images/slabslai_stud_ico_hedarrow_active.gif) #e0e2d6 no-repeat left top; 
	COLOR: #333333; 
	BORDER-TOP: #ccc 1px solid; 
	PADDING-TOP: 2px;
	text-transform: capitalize;
}
.captionBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000066;
	text-transform: capitalize;
}
.contentData {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	color: #000000;
	text-transform: capitalize;
}
.captionTips {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 24px;
	color: #000000;
	text-transform: capitalize;
	font-style:italic;
}