div.sdmenu {
	width: 200px;
	font-family: Arial;
	font-size: 11px;
	padding-bottom: 10px;
	/*background: url(bottom.gif) no-repeat  right bottom;*/
	color: #000;
}
div.sdmenu div {
	/*background: url(title.gif) repeat-x;*/
	border-bottom:1px dotted #cccccc;
	color: #CCCCCC;
	overflow: hidden;
}
div.sdmenu div:first-child {
	/*background: url(toptitle.gif) no-repeat;*/
	border-bottom:1px dotted #cccccc;
	color: #CCCCCC;
}
div.sdmenu div.collapsed {
	height: 25px;
}
div.sdmenu div span {
	display: block;
	padding: 5px 25px;
	font-weight: bold;
	color: #646060;
	background: url(../supervisor/style/images/arr_down.gif) no-repeat 10px center;
	cursor: default;
	border-bottom:1px dotted #cccccc;
  	line-height:20px;
  /*	padding-left: 20px !important;*/
	text-decoration: none;
	/*border-bottom: 1px solid #ddd;*/
}
div.sdmenu div.collapsed span {
	background-image: url(../supervisor/style/images/arr_right.gif);
}
div.sdmenu div a {
	padding: 5px 10px;
	background: #eee;
	display: block;
	/*border-bottom: 1px solid #ddd;*/
	border-bottom:1px dotted #cccccc;
  	line-height:20px;
 	padding-left: 20px !important;
	font-size: 11px;
	color: #06c;
}
div.sdmenu div a.current {
	background : #ccc;
}
div.sdmenu div a:hover {
	/*background : #06c url(linkarrow.gif) no-repeat right center;*/
	color: #000033;
	text-decoration: none;
}